* {
    box-sizing: border-box;
}

h1 {
   background-color: darksalmon; 
color: white;
}

h2 {
    color: darkorchid;
    background-color: beige;
}

.main h2 {
color: blueviolet;
background-color: beige;
}

.main h3:hover {
    background-color: yellow;
    

}
 .next-main h2{
     background-color: beige;
     color: darkorchid;
 }

 .next-main p1{
   background-color: dodgerblue;
   display: block;
 }

 h4 {
     color: aquamarine;
 }

 a:link {
     color: darkgreen;
 }
 a:visited {
     color: darkblue;
 }

 a:hover {
     color: darkcyan;
 }

 a:active {
     color: darkred;
 }